.frameContainer {
  background-color: blue;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  background-color: #fff;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}
.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.textRegion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
}
