:root {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.frameContainer {
  background-color: rgb(64, 64, 64);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clueImage {
  max-width: 500px;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  background-color: #fff;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-item {
  padding: 10px;
  cursor: pointer;
}
.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.textRegion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 57, 57);
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #000;
  box-shadow: 10px, 10px, 10px, 10px, #070707;
}

.scoreLights {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: black;
  align-items: center;
}

.lights {
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  margin: 5px;
}

.textRegion input {
  margin: 5px;
}
